@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
.Header {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 39rem; 
    position: relative;

}
.content-logo{
    position: absolute;
    top: 0;
    left: 0;
}
.content-logo .shadow img{
    position: relative;

}
.content-logo .shadow h2{
   position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.8rem -0.8rem;
    font-size: 3.3rem;
    color: #fff;
}

.content-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
}

.content-description h1{
    font-size: 4rem;
    font-family: Regular Patch,Regular Bold,Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-align: left;
}
.content-description h1 span{
text-transform: capitalize;
display: block;
    font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.content-description p a{
    text-decoration: none;
    color: #fff;
    font-size: 18pt;
    font-family: 'Archivo Black', sans-serif;
    text-align: justify;
}
/* .skew-effect{
    position: absolute;
    bottom: -1.5rem;
    height: 80px;
    transform: skewY(-3deg);
    width: 100%;
    z-index: 999;
    background-color: #00acff;
} */
@media screen and (max-width: 736px){
    .content-vector img{
        display: none;
    }
    .content-description p a{    
        font-size: 16pt;
    }
}
