@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
.Header {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 39rem; 
    position: relative;
}
.content-logo{
    position: absolute;
    top: 0;
    left: 0;
}
.content-logo .shadow img{
    position: relative;

}
.content-logo .shadow h2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.8rem -0.8rem;
    font-size: 3.3rem;
    color: #fff;
}

.content-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
}

.content-description h1{
    font-size: 2rem;
    font-family: Regular Patch,Regular Bold,Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    text-shadow: 5px 5px #0d2f81;
}
.content-description h1 span{
text-transform: capitalize;
display: block;
    font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-shadow: none;
}
.content-description p a{
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
    font-family: 'Archivo Black', sans-serif;
    text-align: justify;
}

/* ==== Waves style ===== */
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(./images/wave.png);
    background-size: 1000px 100px;
}
.waves{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(./images/wave.png);
    background-size: 1000px 100px;
}
.wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.waves.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.waves.wave3{
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.waves.wave4{
    animation: animate4 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
@keyframes animate3{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate4{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
/* ==== Media queries ==== */

@media screen and (min-width: 600px){
    .content-description{
        padding-top: 9rem;
    }
    .content-description h1{
        font-size: 3rem;
    }
    .content-description p a{    
        font-size: 18pt;
    }
}
@media screen and (min-width: 768px){
    .content-description{
        padding-top: 10rem;
    }
    .content-description h1{
        font-size: 4rem;
    }
    .content-description p a{    
        font-size: 18pt;
    }
}