.Header {
    background-image: url(./images/rarepz-header.png);
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42rem;
    position: relative;
}
.content-logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;

    /* ==== */
    font-weight: bold;
    font-size: 40px;
}
.content-description{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5rem 15%;
    
}

.content-description h1{
    font-size: 4rem;
    font-family: Regular Patch,Regular Bold,Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-align: left;
}
.content-description h1 span{
text-transform: capitalize;
display: block;
    font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}